<script src="vue.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="style.css" rel="stylesheet">
<body style="background-color:white;">
<section name="generic">
  <nav>
    <a href="vocab.html">The Startup Dictionary</a>
    <a href="founders.html" class="chosen">Campus Founders</a>
    <a href="courses.html">Available Classes</a>
    <a href="interactive.html">Campus Resources</a>
    <a href="index.html">Home</a>

  </nav>
</section>
<div id="CORE">
<section name="resources_info">
  <h1>Student Founders at Columbia</h1>
  <p>Columbia entreprenuers operate in different industries. Interested in getting advice on your company?
  Consider reaching out to one of the following students! </p>
</section>

<section name="sara">
  <div class="accolade">$25,000 Winner of the Columbia Venture <br>Competition #StartupColumbia track 2016</div>
  <div class="sara">
    <div class="pic"></div>
    <div class="info">
      <h1>Sara Sakowitz, Columbia College Class of 2018</h1>
      <h2>Founder/CEO of Blue Moon Box and Partner at Dorm Room Fund</h2>
      <p>Sara founded
        <a href="http://www.bluemoonbox.com/">Blue Moon Box</a> in 2014, a subscription box product with
        interactive science projects delivered straight to your door - every month!
        Sara was recently named to Crains New York's 20 Under 20 List for BMB's success.

        <br><br>Sara is an operating partner at Dorm Room Fund and was the President of
        <a href="https://coreatcu.com">the Columbia Organization for Rising Entreprenuers</a> from 2016-2017.

      </p>
      <h3>Email Address: sarasakowitz@columbia.edu</h3>

    </div>
  </div>
</section>

<section name="mathew">
  <div class="accolade">$25,000 Winner of the Columbia Venture <br>Competition Undergraduate track 2016</div>
  <div class="info">
    <h1>Mathew Pregasen, Columbia Engineering Class of 2018</h1>
    <h2>Founder/CEO of Parsegon</h2>
    <p>Mathew, with Anuke Ganegoda (Columbia '18) and Sahir Jaggi (Columbia '17), founded
      <a href="https://www.parsegon.com/">Parsegon</a>, an
      education technology company building tools for STEM teachers. With the first English to math algorithm,
      it makes digital math extremely convinient and flexible for educators.

      <br><br>Parsegon is funded by <a href="http://dormroomfund.com">Dorm Room Fund</a>
       and <a href="http://roughdraft.vc">Rough Draft Ventures</a>.

    </p>
    <h3>Email Address: mathew@parsegon.com</h3>

  </div>
</section>

<div class="powerbar" style="display:none;">


  <div class="block">
    <p>Colleges: </p>
    <div class="checkbox" v-bind:class="{'chosen' : CC }" v-on:click="CC = !CC"></div>
    <div>College</div>

    <div class="checkbox" v-bind:class="{'chosen' : SEAS }" v-on:click="SEAS = !SEAS"></div>
    <div>SEAS</div>

    <div class="checkbox" v-bind:class="{'chosen' : GS }" v-on:click="GS = !GS"></div>
    <div>General School</div>

    <div class="checkbox" v-bind:class="{'chosen' : Barnard }" v-on:click="Barnard = !Barnard"></div>
    <div>Barnard</div>

    <div class="checkbox" v-bind:class="{'chosen' : Graduate }" v-on:click="Graduate = !Graduate"></div>
    <div>Graduate School</div>

    <div class="checkbox" v-bind:class="{'chosen' : Graduated }" v-on:click="Graduated = !Graduated"></div>
    <div>Graduated</div>
  </div>

  <div class="block">
    <p>Show: </p>
    <div class="checkbox" v-bind:class="{'chosen' : inaction }" v-on:click="inaction = !inaction"></div>
    <div>In Action</div>

    <div class="checkbox" v-bind:class="{'chosen' : retired }" v-on:click="retired = !retired"></div>
    <div>Retired</div>




  </div>

</div>



<section name="resources">
  <h1>Featured Campus Founders</h1>
  <div class="all">


    <div class="etpr" v-for="item in items">

    <div class="info">
      <h1>{{item.name}}</h1>
      <p>{{item.description}} <br> <a v-if="item.permalink" v-bind:href="item.permalink">{{item.link}}</a>
        <br><br>
        <a href="mailto:{{{item.email}}}" target="_top">Email</a>
      </p>


    </div>
    <div class="right">
      <div class="grid" v-bind:style="{ backgroundImage: 'url(' + item.url + ')' }"></div>
      <div class="grid" v-bind:style="{ backgroundImage: 'url(' + item.logo + ')' }"></div>
    </div>

    </div>






  </div>
</section>
</div>


<script>
CORE = new Vue({
  el: '#CORE',
  data: {
    SEAS: true,
    CC: true,
    GS: true,
    Barnard: true,
    Graduate: true,
    Graduated: true,
    retired: true,
    inaction: true,
    items: [
      {
        "url" : "sara_main.jpg",
        "name" : "Sara Sakowitz",
        "description" : "CEO and Founder of Blue Moon Box",
        "available" : ["College"],
        "inaction" : true,
        "logo": "images/bluemoonbox.png",
        "permalink" : "http://bluemoonbox.com",
        "link" : "bluemoonbox.com",
        "email" : "sarasakowitz@columbia.edu"
      },
      {
        "url" : "simon.jpg",
        "name" : "Simon Schwartz",
        "description" : "CEO and Founder of Locasaur",
        "available" : ["College"],
        "inaction" : true,
        "logo" : "images/loca.png",
        "permalink" : "http://locasaur.com",
        "link" : "locasaur.com",
        "email" : "simon@locasaur.com"
      },
      {
        "url" : "images/mathew.jpg",
        "name" : "Mathew Pregasen",
        "description" : "CEO and Founder of Parsegon",
        "available" : ["SEAS"],
        "inaction" : true,
        "logo" : "images/parsegon.png",
        "permalink" : "https://www.parsegon.com",
        "link" : "parsegon.com",
        "email" : "mathew@parsegon.com"
      },

      {
        "url" : "images/momo.png",
        "name" : "Mohammad A.",
        "description" : "CTO and Co-founder of Locasaur",
        "available" : ["College"],
        "inaction" : true,
        "logo" : "images/loca.png",
        "permalink" : "http://locasaur.com",
        "link" : "locasaur.com",
        "email" : "mohamed@locasaur.com"
      },

      {
        "url" : "images/anuke.png",
        "name" : "Anuke Ganegoda",
        "description" : "COO and Co-Founder of Parsegon",
        "available" : ["SEAS"],
        "inaction" : true,
        "logo" : "images/parsegon.png",
        "permalink" : "https://www.parsegon.com",
        "link" : "parsegon.com",
        "email" : "anuke@parsegon.com"
      },
      {
        "url" : "images/sahir.png",
        "name" : "Sahir Jaggi",
        "description" : "Co-Founder of Parsegon",
        "available" : ["SEAS"],
        "inaction" : true,
        "logo" : "images/parsegon.png",
        "permalink" : "https://www.parsegon.com",
        "link" : "parsegon.com",
        "email" : "sahir@parsegon.com"
      }

    ]
  },
  methods: {
    pass: function(item) {


      if(this.retired == true && item.retired == true){
        return true;
      }
      if(this.inaction == true && item.inaction == true){
        return true;
      }

      return false;
    }
  }
});
</script>
</body>
