body{
  padding:0px;
  margin:0px;
}

blockquote {
  width:calc(100% - 200px);
  margin:50px 100px;
  font-size:35px;
  font-family: "Sorts Mill Goudy", "Times";
  color:#333;
}

blockquote:before{
  content: '\201C';
}

blockquote > span{
  float:right;
  font-size:18px;
}

section[name="main"]{
  width:100%;
  height: 85vh;
  background-image:url('http://media.ellentv.com/2014/09/18/091814-google-aso-blog-1200x630.jpg');
  background-size:cover;
  background-position: center;
  position: relative;
  display: inline-block;
}

section[name="main"] > nav{
  width:100%;
  right:0px;
  top:0px;
  position: absolute;
  z-index:2;
  color:white;
  font-family: "Futura", "Lato";
  font-size:11px;
}

section[name="main"] > nav > a{
  color:white;
  text-decoration: none;
  float:right;
  box-sizing: border-box;
  display:inline-block;
  margin:20px 1.125vw;
  width:12vw;
  text-align: center;
}

section[name="main"] > cite{
  font-size:11px;
  position: absolute;
  bottom:5px;
  right:5px;
  color:white;
  font-size:11px;
  font-family: "Futura", "Lato";
  z-index:2;
  font-style: normal;
  opacity:.6;
}

section[name="main"] > h1{
  width:60%;
  margin-left:20%;
  margin-top:16vh;
  font-size:60px;
  text-align: center;
  font-family:"Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:white;
  z-index:2;
  position: relative;
}

section[name="main"] > h1 > span{
  /*font-family: "Nunito";*/
  font-size:80px;
}

section[name="main"] > h2{
  width:60%;
  margin-left:20%;
  margin-top:1vh;
  font-size:20px;
  text-align: center;
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:white;
  z-index:2;
  position: relative;
}

section[name="main"] > h3{
  width:60%;
  margin-left:20%;
  margin-top:1vh;
  font-size:14px;
  text-align: center;
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:white;
  z-index:2;
  position: relative;
}

section[name="main"] > h3 > a{
  text-decoration: none;
  color:#ddd;

}

section[name="main"]:before{
  position: absolute;
  content: '';
  width:100%;
  top:0px;
  left:0px;
  height: 85vh;
  background-color: black;
  opacity:.7;
  z-index:1;
}

section[name="feature"]{
  width:100%;
  height: 300px;
  background-size:cover;
  background-position: center 20%;
  position: relative;
  display: inline-block;
}

section[name="feature"] > p{
  width:20%;
  margin-left:5%;
  margin-top: 100px;
  border-top:3px white solid;
  border-bottom: 3px white solid;
  padding: 10px 0px;
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:white;
}

section[name="feature"] > p > a{
  color: #ddd;
  text-decoration: none;
}

section[name="resources"]{
  width:100%;
  height: auto;
  background-color:#ddd;
  display:inline-block;
  padding-bottom: 5vw;
}

section[name="resources"] > .left{
  width:44vw;
  height:44vw;
  margin:5vw;
  margin-bottom:0px;
  margin-right:0vw;
  background-color:white;
  box-shadow: 3px 3px #eee;
  float:left;
  display:inline-block;
  box-sizing: border-box;
}

section[name="resources"] > .left > h1{
  font-family:  "Permanent Marker", Helvetica;
  font-size:67px;
  color:#627594;
  text-align: center;
  margin-bottom:4px;
  margin-top:10px;

}

section[name="resources"] > .left > p {
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:#888;
  font-size:15px;
  width:80%;
  margin-left:10%;
  margin-right:10%;
  text-align: justify;
}


section[name="resources"] > .right{
  width:50vw;
  height:50vw;
  margin:0vw;
  background-color:transparent;
  float:left;
  display:inline-block;
  box-sizing: border-box;
  padding-top:4vw;
  padding-left:1vw;
}

section[name="resources"] > .all{
  width:92vw;
  margin-left:4vw;
  margin-right:4vw;
  margin-top:0vw;
  float:left;
}

section[name="resources"] .box:before{
  width:21vw;
  height:21vw;
  position: absolute;
  background-color:black;
  opacity:.6;
  content: '';
  left:0px;
  right:0px;
  z-index:1;
}


section[name="resources"] .box > h1{
  width:70%;
  margin-left:15%;
  margin-top: 3vw;
  border-top:3px #eee solid;
  border-bottom: 3px #eee solid;
  padding: 10px 0px;
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:#eee;
  font-size:16px;
  z-index:2;
  position:relative;
}

section[name="resources"] .box > p{
  width:70%;
  margin-left:15%;
  margin-top: 3px;
  color:white;
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  font-size:12px;
  z-index:2;
  position:relative;
}

section[name="resources"] .box > p > span{
  color:#CFCFE8;
  cursor: pointer;
}


section[name="resources"] .box{
  width:21vw;
  margin:1vw;
  height:21vw;
  background-color:white;
  box-shadow: 3px 3px #eee;
  float:left;
  display:inline-block;
  box-sizing: border-box;
  background-size:cover;
  background-position: center;
  position: relative;
}

section[name="options"]{
  width:100%;
  display:inline-block;
}
section[name="options"] > h1{
  width:30%;
  margin-left:35%;
  margin-right:35%;
  font-family: "Futura", "Lato";
  font-size:16px;

  margin-top:30px;
  margin-bottom:30px;
  text-align: center;
}

section[name="options"] > div.option{
  width:50%;
  border-top:1px #ddd solid;
  border-bottom: 1px #ddd solid;
  box-sizing: border-box;
  float:left;
  height:300px;
  text-align: center;

}

section[name="options"] > div.option:hover{
  background-color:black;
  color:white;
  cursor: pointer;
}

section[name="options"] > div.option > img{
  margin-top:30px;
  height:130px;
}

section[name="options"] > div.option > h1{
  width:100%;
  text-align: center;
  font-family: "Futura", "Lato";

}

section[name="options"] > div.option > p{
  width:50%;
  margin-left:25%;
  font-family: "Futura", "Sorts Mill Goudy", "Times";
  font-size:13px;
  text-align: center;
}
