/*
does ie give money?
is it now a 30K cap?
lean launchpad for everyrone?
*/
body{
  padding:0px;
  margin:0px;
}

blockquote {
  width:calc(100% - 200px);
  margin:50px 100px;
  font-size:35px;
  font-family: "Sorts Mill Goudy", "Times";
  color:#333;
}

blockquote:before{
  content: '\201C';
}

blockquote > span{
  float:right;
  font-size:18px;
}

section[name="main"]{
  width:100%;
  height: 85vh;
  background-image:url('http://media.ellentv.com/2014/09/18/091814-google-aso-blog-1200x630.jpg');
  background-size:cover;
  background-position: center;
  position: relative;
  display: inline-block;
}



section[name="generic"]{
  width:100%;
  height: 60px;
  background-size:cover;
  background-position: center;
  position: relative;
  background-color:#52AEFB;
  display: inline-block;
}



section > nav{
  width:100%;
  right:0px;
  top:0px;
  position: absolute;
  z-index:2;
  color:white;
  font-family: "Futura", "Lato";
  font-size:11px;
}

section > nav > a{
  color:white;
  text-decoration: none;
  float:right;
  box-sizing: border-box;
  display:inline-block;
  margin:22px 0px;
  width:calc(100vw / 5);
  text-align: center;
}

section > nav > a.chosen{
  opacity:.3;
  cursor: default;
}

section[name="main"] > cite{
  font-size:11px;
  position: absolute;
  bottom:5px;
  right:5px;
  color:white;
  font-size:11px;
  font-family: "Futura", "Lato";
  z-index:2;
  font-style: normal;
  opacity:.6;
}

section[name="main"] > h1{
  width:60%;
  margin-left:20%;
  margin-top:16vh;
  font-size:60px;
  text-align: center;
  font-family:"Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:white;
  z-index:2;
  position: relative;
}

section[name="main"] > h1 > span{
  /*font-family: "Nunito";*/
  font-size:80px;
}

section[name="main"] > h2{
  width:60%;
  margin-left:20%;
  margin-top:1vh;
  font-size:20px;
  text-align: center;
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:white;
  z-index:2;
  position: relative;
}

section[name="main"] > h3{
  width:60%;
  margin-left:20%;
  margin-top:1vh;
  font-size:14px;
  text-align: center;
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:white;
  z-index:2;
  position: relative;
}

section[name="main"] > h3 > a{
  text-decoration: none;
  color:#ddd;

}

section[name="main"]:before{
  position: absolute;
  content: '';
  width:100%;
  top:0px;
  left:0px;
  height: 85vh;
  background-color: black;
  opacity:.7;
  z-index:1;
}

section[name="feature"]{
  width:100%;
  height: 300px;
  background-size:cover;
  background-position: center 20%;
  position: relative;
  display: inline-block;
}

section[name="feature"] > p{
  width:20%;
  margin-left:5%;
  margin-top: 100px;
  border-top:3px white solid;
  border-bottom: 3px white solid;
  padding: 10px 0px;
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:white;
}

section[name="feature"] > p > a{
  color: #ddd;
  text-decoration: none;
}

section[name="resources"]{
  width:100%;
  height: auto;
  background-color:#ddd;
  display:inline-block;
  padding-bottom: 5vw;
}

section[name="resources"] > h1{
  text-align: center;
font-family: Futura, Lato;
background-color: white;
display: inline-block;
width: 40%;
padding: 10px;
margin: 0px 30%;
box-sizing: border-box;
margin-top: 3vh;
}

section[name="resources"] > .left{
  width:44vw;
  height:44vw;
  margin:5vw;
  margin-bottom:0px;
  margin-right:0vw;
  background-color:white;
  box-shadow: 3px 3px #eee;
  float:left;
  display:inline-block;
  box-sizing: border-box;
}

section[name="resources"] > .left > h1{
  font-family:  "Permanent Marker", Helvetica;
  font-size:67px;
  color:#627594;
  text-align: center;
  margin-bottom:4px;
  margin-top:10px;

}

section[name="resources"] > .left > p {
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:#888;
  font-size:15px;
  width:80%;
  margin-left:10%;
  margin-right:10%;
  text-align: justify;
}


section[name="resources"] > .right{
  width:50vw;
  height:50vw;
  margin:0vw;
  background-color:transparent;
  float:left;
  display:inline-block;
  box-sizing: border-box;
  padding-top:4vw;
  padding-left:1vw;
}

section[name="resources"] > .all{
  width:92vw;
  margin-left:4vw;
  margin-right:4vw;
  margin-top:0vw;
  float:left;
}

section[name="resources"] .box:before{
  width:21vw;
  height:19vw;
  position: absolute;
  background-color:black;
  opacity:.6;
  content: '';
  left:0px;
  right:0px;
  z-index:1;
}

section[name="resources"] .box.lighter:before{
  width:21vw;
  height:21vw;
  position: absolute;
  background-color:black;
  opacity:.3;
  content: '';
  left:0px;
  right:0px;
  z-index:1;
}


section[name="resources"] .box > h1{
  width:70%;
  margin-left:15%;
  margin-top: 2vw;
  border-top:3px #eee solid;
  border-bottom: 3px #eee solid;
  padding: 10px 0px;
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  color:#eee;
  font-size:16px;
  z-index:2;
  height:3vw;
  position:relative;
}

section[name="resources"] .box > p{
  width:70%;
  margin-left:15%;
  margin-top: 1vw;
  color:white;
  font-family:"Futura", "Lato", "Permanent Marker", "Kumar One", "Nunito", Helvetica;
  font-size:12px;
  z-index:2;
  position:relative;
  height:10vw;
}



section[name="resources"] .box > p > span{
  color:#CFCFE8;
  cursor: pointer;
}


section[name="resources"] .box{
  width:21vw;
  margin:1vw;
  min-height:21vw;
  background-color:white;
  float:left;
  display:inline-block;
  box-sizing: border-box;
  background-size:cover;
  background-position: center;
  position: relative;
}


section[name="resources"] .box > .bar{
  width:100%;
  min-height:6.8vw;
  background-color:white;
  display: inline-block;
  padding:1vw;
  box-sizing: border-box;
}

section[name="resources"] .box > .bar > span{
  padding:4px;
  background-color:#52AEFB;
  color:white;
  font-family: "Futura", "Lato";
  font-size:12px;
  border-radius:100px;
  margin-right:4px;
  display: inline-block;
  margin-bottom:6px;
  float:left;

}


section[name="options"]{
  width:100%;
  display:inline-block;
}
section[name="options"] > h1{
  width:30%;
  margin-left:35%;
  margin-right:35%;
  font-family: "Futura", "Lato";
  font-size:16px;

  margin-top:30px;
  margin-bottom:30px;
  text-align: center;
}

section[name="options"] > a.option{
  width:50%;
  border-top:1px #ddd solid;
  border-bottom: 1px #ddd solid;
  box-sizing: border-box;
  float:left;
  height:300px;
  text-align: center;
  color:black;
  text-decoration: none;
}

section[name="options"] > a.option:hover{
  background-color:black;
  opacity: 1 !important;
  color:white !important;
  cursor: pointer;
}

section[name="options"] > a.option > img{
  margin-top:30px;
  height:130px;
}

section[name="options"] > a.option > h1{
  width:100%;
  text-align: center;
  font-family: "Futura", "Lato";
  text-decoration: none;
}

section[name="options"] > a.option > p{
  width:50%;
  margin-left:25%;
  font-family: "Futura", "Lato", "Sorts Mill Goudy", "Times";
  font-size:13px;
  text-align: center;
  text-decoration: none;
}
section[name="courses"]{
  width:calc(100vw - 40px);
  margin:20px;
  min-height:20vh;
  background-color:white;
  box-shadow: 1px 1px #ddd;
  display: inline-block;
  text-align: center;
  padding-bottom:20px;
  margin-bottom:0px;
  font-family: "Futura", "Lato";
}

section[name="courses"] > h1{
  font-size:16px;
  color:#52AEFB;
}

section[name="courses"] > p{
  width:40%;
  margin-left:30%;
  text-align: left;
}

section[name="courses"] > p > span{
  width:70px;
  color:#888;
  display: inline-block;
}

section[name="resources_info"]{
  width:calc(100vw - 40px);
  margin:20px;
  min-height:20vh;
  background-color:white;
  box-shadow: 1px 1px #ddd;
  display: inline-block;
  text-align: center;
  padding-bottom:20px;
  margin-bottom:0px;
}

section[name="resources_info"] > h1{
  border-top:3px #52AEFb solid;
  border-bottom: 3px #52AEFB solid;
  padding-top:4px;
  padding-bottom:4px;
  color:#52AEFB;
  margin:0px;
  margin:6px;
  margin-top:16px;
  font-size:25px;
  width:auto;
  display:inline-block;
  font-family: "Futura", "Sorts Mill Goudy", "Times";
}

section[name="resources_info"] > p{
  width:60%;
  margin-left:20%;
  font-size:14px;
  font-family: "Futura", "Sorts Mill Goudy", "Times";
  color:#888;
  text-align: left;
}

div.powerbar{
  width:calc(100vw - 40px);
  margin:20px;
  margin-top:0px;
  background-color:white;
  box-shadow: 1px 1px #ddd;
  display: inline-block;
  text-align: center;
  height:60px;
  background-color:white;
  border-top:1px #ddd solid;
  font-family: "Futura", "Sorts Mill Goudy", "Times";
}

div.powerbar > .block{
  width:auto;
  padding-left:10px;
  padding-right:10px;
  border-right:1px #ddd solid;
  height: 60px;
  float:left;
  display:inline-block;
}

div.powerbar > .block > p{
  font-size:14px;
  float:left;
  padding:4px;
  display:inline-block;
}

div.powerbar > .block > div.checkbox{
  height:17px;
  width:17px;
  border:3px #ddd solid;
  border-radius:3px;
  float:left;
  margin: 18px 4px;
  line-height: 14.5px;
  display:inline-block;
  cursor: pointer;
}

div.powerbar > .block > div.checkbox + div {
  height:17px;
  float:left;
  margin: 22px 4px;
  margin-right:10px;
  width:auto;
  font-size:12px;
  color:#666;
  display:inline-block;
}

div.powerbar > .block > div.checkbox.chosen{
  border-color:#52AEFb;
}

div.powerbar > .block > div.checkbox.chosen:before{
  content: '\2713';
  color:#52AEFB;
  font-size:18px;
}

section[name="sara"]{
  width: 100%;
  height: 80vh;
  display: inline-block;
  background-image:url('blue_moon_box.jpg');
  background-size:cover;
  background-position: left;
  position: relative;
}

section[name="sara"] > div.sara{
  margin:20vh;
  height: 40vh;
  width: 40vh;
  border-radius:100%;
  border:3px #444 solid;
  background-image:url('blue_moon_box.jpg');
  background-size:cover;
  background-position: left;
  position: relative;
}

section[name="sara"] > .accolade{
  position: absolute;
  right:20px;
  top:20px;
  padding:14px;
  background-color:navy;
  color:white;
  text-align: center;
  border-radius:100px;
  font-family: "Futura","Lato";
}

a{
  text-decoration: none;
  color: #52AEFB;
}

a:hover{
  opacity: .5;
}

section[name="sara"] > div.sara > div.pic{
  width:38vh;
  height: 38vh;
  margin:1vh;
  border-radius:100%;
  border: 1px #444 solid;
  box-sizing: border-box;
  background-image:url('sara.jpg');
  background-size:cover;
  background-position: center;
  z-index:3;
  position: relative;

}

section[name="sara"] > div.sara > div.info{
  width:60%;
  height:30vh;
  background-color:white;
  border-radius:2px;
  width: 60vw;
position: absolute;
top:14vh;
left:24vh;
border-radius:4px;
z-index:2;
padding-left: 19vh;
box-sizing: border-box;
}

section[name="sara"] > div.sara > div.info > h1{
  font-size:18px;
  font-family: "Futura", "Lato";
  margin-bottom:3px;
}

section[name="sara"] > div.sara > div.info > h2{
  font-size:14px;
  margin-top:0px;
  font-family: "Futura", "Lato";
  margin-bottom: 0px;
  color:#52AEFB;
}

section[name="sara"] > div.sara > div.info > p{
  font-size:12px;
  margin-top:0px;
  font-family: "Futura", "Lato";
  color:#444;
  margin-bottom:0px;
}


section[name="sara"] > div.sara > div.info > h3{
  font-size:12px;
  margin-top:6px;
  font-family: "Futura", "Lato";
  color:#444;
  margin-bottom:2px;
}

section[name="mathew"]{
  width: 100%;
  height: 80vh;
  display: inline-block;
  background-image:url('mathew.jpg');
  background-size:cover;
  background-position: left;
  position: relative;
  margin-top:4px;
}

section[name="mathew"] > .accolade{
  position: absolute;
  left:20px;
  top:20px;
  padding:14px;
  background-color:navy;
  color:white;
  text-align: center;
  border-radius:100px;
  font-family: "Futura","Lato";
}

section[name="mathew"] > div.info {
    width: 40vh;
    height: auto;
    background-color: white;
    border-radius: 2px;
    width: 47vw;
    position: relative;
    top: 29vh;
    left: 5vh;
    border-radius: 4px;
    z-index: 2;
    padding-left: 19vh;
    box-sizing: border-box;
    padding: 4vh;
}

section[name="mathew"] > div.info > h1{
  font-size:18px;
  font-family: "Futura", "Lato";
  margin-bottom:3px;
  margin-top:0px;
}

section[name="mathew"] > div.info > h2{
  font-size:14px;
  margin-top:0px;
  font-family: "Futura", "Lato";
  margin-bottom: 0px;
  color:#52AEFB;
}

section[name="mathew"] > div.info > p{
  font-size:12px;
  margin-top:0px;
  font-family: "Futura", "Lato";
  color:#444;
  margin-bottom:0px;
}

section[name="mathew"] > div.info > h3{
  font-size:12px;
  margin-top:6px;
  font-family: "Futura", "Lato";
  color:#444;
  margin-bottom:2px;
}


section[name="resources"] .etpr{
  width:21vw;
  margin:1vw;
  min-height:21vw;
  background-color:white;
  float:left;
  display:inline-block;
  box-sizing: border-box;
  background-size:cover;
  background-position: center;
  position: relative;
}


section[name="resources"] .etpr > .info {
  width:12vw;
  height:21vw;
  background-color:white;
  float:left;
}

section[name="resources"] .etpr > .right {
  width:9vw;
  height:21vw;
  background-color:white;
  float:left;
}

section[name="resources"] .etpr > .right > div.grid {
  width:9vw;
  height: 12vw;
  background-color:black;
  background-size:cover;
  background-position: center;
}

section[name="resources"] .etpr > .right > div.grid + .grid {
  height: 9vw;
}

section[name="resources"] .etpr > .info > h1{
  text-align: left;
  font-size:14px;
  font-family: "Futura", "Lato";
  padding:0px 15px;
}

section[name="resources"] .etpr > .info > p{
  text-align: left;
  font-size:12px;
  font-family: "Futura", "Lato";
  padding:0px 15px;
}

section[name="new"]{
  width:100%;
  height:calc(100vh - 60px);
  background-color:white;
}

section[name="new"] > div.banner{
  font-family:"Permanent Marker", "Kumar One", "Nunito", Helvetica;
  width:100%;
  height:40vh;
  text-align: center;
  font-size:45px;
  color:white;
  padding:14vh 100px;
  box-sizing: border-box;
  background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section[name="new"] > div.banner > div{
  font-size:140px;
  float:left;
  display: inline-block;
}

section[name="new"] > a.triad:before{
  position: absolute;
  content: " ";
  display: inline-block;
  width:100%;
  height:calc(60vh - 60px);
  border: 30px white solid;
  top:0px;
  left:0px;
  box-sizing: border-box;
}

section[name="new"] > a.triad{
  float:left;
  height:calc(60vh - 60px);
  width:calc(100% / 3);
  background: #2C3E50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:white;
  text-align: center;
  position: relative;
  padding-top:22vh;
  box-sizing:border-box;
  font-family:"Permanent Marker", "Kumar One", "Nunito", Helvetica;
  font-size:23px;
}

section[name="new"] > a.triad + .triad{
  background: #FF5F6D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

section[name="new"] > a.triad + .triad + .triad{
  background: #BA5370;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F4E2D8, #BA5370); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
